<h2>Choisissez vos listes :</h2>
<div *ngFor="let liste of listesFilms; let i = index"><mat-checkbox [(ngModel)]="checked[i]" (change)="updateList(checked[i], liste)">{{liste.Label}}</mat-checkbox></div>
<button mat-raised-button (click)="onClick()" color="primary">Ok</button>
