<div mat-dialog-content>
  <p>Nouveau nom de liste :</p>
  <mat-form-field>
    <!-- <mat-label>Favorite Animal</mat-label> -->
    <input matInput [(ngModel)]="data.listName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onNoClick()">Annuler</button>
  <button mat-raised-button [mat-dialog-close]="data.listName" color="primary" cdkFocusInitial>Ok</button>
</div>