<div class="body">
    <div *ngIf="!isConnected" class="center">
        <h1 class="msg mat-display-1">Veuillez vous connecter</h1>
    </div>

    <div *ngIf="isConnected" class="msg">
        <div *ngIf="listsFilms.length === 0">
            <h1 class="mat-display-1">Vous n'avez pas de liste de films !..</h1>
        </div>

        <div *ngIf="listsFilms.length !== 0">
            <mat-card class="card">
                <mat-card-title>
                    Vos listes de films...({{listsFilms.length}})
                    <button mat-raised-button color="primary" class="addButton" (click)="openDialog()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-card-title>
                <mat-expansion-panel *ngFor="let listFilm of listsFilms; let index = index">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{listFilm.Label}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description *ngFor="let film of listFilm.films; let i = index">
                        <div class="desc">
                            {{film.title}}
                        </div>
                        <div class="deleteButton">
                            <button mat-raised-button color="accent" (click)="deleteFilmOnList(i, index)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-panel-description>
                    <button mat-raised-button color="accent" class="deleteList" (click)="deleteList(index)">Supprimer
                        Liste</button>
                </mat-expansion-panel>
            </mat-card>
        </div>
    </div>
</div>