.body {
    height: 100%;
    width: 100%;
}

.msg {
    padding-top: 10px;
    color: whitesmoke;
}

.card {
    margin-left: 2%;
    width: 96%;
    background-color: whitesmoke;
}

.jc-c {
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

.addButton {
    float: right;
}

.deleteButton {
    width: auto;
    float: right;
    margin-left: 10px;
    margin-bottom: 1%;
}

.deleteList {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    float: right;
}

mat-panel-description {
    height: 100%;
    width: 100%;
}

mat-expansion-panel {
    margin-bottom: 10px;
}

.desc {
    width: 96%;
    height: 100%;
}