<div class="background">
    <h1 id="infosPerso" >Informations personnelles</h1>
    <div class="menu">
        <form class="profileForm">
            <img src="{{photoURL}}" width="128" height="128">
            
            <mat-list>
                <b><mat-list-item>{{diplayName}} </mat-list-item> </b>
            </mat-list>

            <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item><i class="material-icons">email</i><b>E-mail </b>: {{email}} </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><i class="material-icons">fingerprint</i><b>Uid</b> : {{uid}} </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><i class="material-icons">call</i> <b>Tel</b> : {{phoneNumber}} </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </form>
    </div>
</div>