#infosPerso {
  padding-top: 80px;
  text-align: center;
  line-height: 28px;
  font-size: 24px;
  padding-bottom: 4px;
  color: whitesmoke;
  font-weight: 450;
  margin-bottom: 25px;
}

.profileForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
background-color: #464646;
height: 100%;
}

.menu {
border-radius: 3px;
margin-left: 10px;
margin-right: 10px;
background-color: #e7e7e7;
box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
margin-bottom: 10px;
}

img {
margin-top: 5%;
border-radius: 150px;
border-style: solid;
border-color: #949494;
border-width : 5px;
}

usnamedis {
margin-top: 20px;
margin-bottom: 10px;
}