section {
    background: url('https://w.wallhaven.cc/full/01/wallhaven-0115lg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
    text-align: center;
    height: 100%;
    padding-top: 100px;
    background-color: #0c0c0c;
}

img.affichage {
    width: 100%;
    height: 100%;
    max-height: 450px;
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.labels {
    color: white;
}

#carousel-films {
    padding-top: 2%;
}

#carousel-plats {
    padding-top: 2%;
}


/*-- social-icons --*/

.single-agile-shar-buttons {
    margin: 1em 0 0 0;
}

a.w3_play_icon span,
a.w3_play_icon1 span,
a.w3_play_icon2 span {
    position: absolute;
    color: #fff;
    font-size: 4.5em;
    left: 42%;
    top: 36%;
}

.social {
    position: fixed;
    bottom: 0%;
    width: 4%;
    z-index: 9999;
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}

.social ul li {
    display: block;
    margin: 5px;
    width: 310px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.w3_twitter {
    background: #1da1f2;
}

.w3_facebook {
    background: #3b5998;
}

.w3_dribbble {
    background: #ea4c89;
}

.w3_g_plus {
    background: #dd4b39;
}

.w3_twitter:hover {
    background: #54BAF2;
}

.w3_facebook:hover {
    background: #6187D5;
}

.w3_dribbble:hover {
    background: #EC6D9E;
}

.w3_g_plus:hover {
    background: #EA6A5B;
}

.social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
}

.social ul li a {
    color: #212121;
}

.social ul li:hover a {
    color: #fff;
    text-decoration: none;
}

.social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li i {
    margin-left: 10px;
    color: #212121;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    text-align: center;
    background: #fff;
}
.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 575px){
    .container-fluid h1{
        font-size: xX-large;
        word-break: break-word;
    }
    .container-fluid p{font-size: small;}
    .social ul li:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}