html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/** Change color of material */
@import '~@angular/material/theming';
@include mat-core();

$bv-teal: (
    50: #E3FCF3,
    100: #B9F8E2,
    200: #8BF3CE,
    300: #5CEEBA,
    400: #39EBAC,
    500: #16E79D,
    600: #13E495,
    700: #10E08B,
    800: #0CDD81,
    900: #06D76F,
    A100: #ffffff,
    A200: #CCFFE3,
    A400: #99FFC8,
    A700: #80FFBA,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    ));

$bv-palette-primary: mat-palette($bv-teal);
$my-app-primary: mat-palette($mat-green);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$bv-theme: mat-light-theme($bv-palette-primary, $my-app-accent, $my-app-warn);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($bv-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

body {
  background-color: #272b30;
}
