h1 {
    margin-top: 30px;
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
}

form > div {
    display: inline-block;
}

#menuSpan {
    text-align: center;
}

.menu {
    margin-bottom: 20px;
    display: inline-flex;
}

.submit {
    color: white;
}

.card {
    margin-left: 25px;
    margin-bottom: 25px;
    display: inline-block;
    width: 16rem;
}
@media all and (max-width: 591px)
{
    .card {
        width: 140px;
        height: 350px;
        margin-left: 15px;
    }
}

.mat-card-image {
    cursor: pointer;
}

.mat-card-content {
    overflow: hidden;
    height: 5rem;
}

.mat-card-title {
    overflow: hidden;
    height: 2rem;
    width: 90%;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: 7px;
    right: 1px;
}

.mat-paginator {
    background-color: #25292e;
    color: white;
    font-size: large;
}

.add {
    margin-top: 3%;
    margin-left: 3%;
}