<section>

    <section class="container">
        <h1 class="display-4">Nos films</h1>
        <p class="lead">
            Tous vos films préférés, au prix record de 3€75
        </p>
    </section>

    <div class="row d-flex justify-content-center menu">
        <div>
            <form (submit)="onSearch()">
                <div>
                    <input [(ngModel)]="searchInput" class="form-control" type="search" name="search" autocomplete="off" placeholder="Search..."/>
                </div>
                <button mat-button type="submit"> <span class="material-icons" style="color: white;"> search </span> </button>
            </form>
        </div>
        <div>
            <button mat-raised-button color="basic" [matMenuTriggerFor]="menu">Trier</button>
            <mat-menu #menu="matMenu">
                <div id="menuSpan"> À la une </div>
                <button (click)="setPopularMovies()" mat-menu-item> Populaires </button>
                <button (click)="setNewMovies()" mat-menu-item> Au cinéma </button>
                <div id="menuSpan"> Genres </div>
                <button (click)="[page=0, setMoviesByGenre('Action')]" mat-menu-item>Action</button>
                <button (click)="[page=0, setMoviesByGenre('Animation')]" mat-menu-item>Animation</button>
                <button (click)="[page=0, setMoviesByGenre('Adventure')]" mat-menu-item>Aventure</button>
                <button (click)="[page=0, setMoviesByGenre('Comedy')]" mat-menu-item>Comédie</button>
                <button (click)="[page=0, setMoviesByGenre('Crime')]" mat-menu-item>Crime</button>
                <button (click)="[page=0, setMoviesByGenre('Documentary')]" mat-menu-item>Documentaire</button>
                <button (click)="[page=0, setMoviesByGenre('Drama')]" mat-menu-item>Drame</button>
                <button (click)="[page=0, setMoviesByGenre('Family')]" mat-menu-item>Familial</button>
                <button (click)="[page=0, setMoviesByGenre('Fantasy')]" mat-menu-item>Fantastique</button>
                <button (click)="[page=0, setMoviesByGenre('History')]" mat-menu-item>Histoire</button>
                <button (click)="[page=0, setMoviesByGenre('Horror')]" mat-menu-item> Horreur </button>
                <button (click)="[page=0, setMoviesByGenre('Music')]" mat-menu-item> Musique </button>
                <button (click)="[page=0, setMoviesByGenre('Mystery')]" mat-menu-item> Mystère </button>
                <button (click)="[page=0, setMoviesByGenre('Romance')]" mat-menu-item> Romance </button>
                <button (click)="[page=0, setMoviesByGenre('Science Fiction')]" mat-menu-item>Science Fiction</button>
                <button (click)="[page=0, setMoviesByGenre('TV Movie')]" mat-menu-item>Film_TV</button>
                <button (click)="[page=0, setMoviesByGenre('Thriller')]" mat-menu-item>Thriller</button>
                <button (click)="[page=0, setMoviesByGenre('War')]" mat-menu-item>Guerre</button>
                <button (click)="[page=0, setMoviesByGenre('Western')]" mat-menu-item>Western</button>
            </mat-menu>
        </div>
    </div>

    <section class="container-fluid">
        <mat-card *ngFor="let movie of movies" matRipple class="card">
            <img mat-card-image src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}} " />
            <div *ngIf="getQuantity(movie.id) !== 0; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><mat-card-title matBadge="{{getQuantity(movie.id)}}" matBadgeColor="accent"> {{movie.title}} </mat-card-title></ng-template>
                <ng-template #elseBlock><mat-card-title> {{movie.title}} </mat-card-title></ng-template>
            <mat-card-subtitle>
                <button mat-raised-button class="add" (click)="addMovieToBasket(movie)"> <mat-icon>add_shopping_cart</mat-icon> </button> 
                <button mat-raised-button class="add" (click)="openDialogAndAddFilmToList(movie)"> <mat-icon>playlist_add</mat-icon> </button>
            </mat-card-subtitle>
            <mat-card-content> {{movie.overview}} </mat-card-content>
            <a href="https://www.imdb.com/title/{{movie.imdb_id}}/ " target="_blank " mat-raised-button> Voir sur IMDB </a>
        </mat-card>

        <mat-paginator [pageSize]="pageSize" [pageIndex]="page" 
        [length]="200" (page)="pageEvents($event)">
        </mat-paginator>
    </section>

</section>