<div *ngIf="!isConnected">
    <h1 class="msg mat-display-1">Veuillez vous connecter</h1>
</div>

<div *ngIf="isConnected">
    <div *ngIf="panier.length === 0">
        <h1 class="msg mat-display-1">Votre panier est vide !..</h1>
    </div>
    
    <div *ngIf="panier.length !== 0">
    
        <h1 class="msg mat-display-1"> 
            <h6>Vous avez {{panier.length}} article(s) dans votre panier</h6>
            <h6>Prix d'un film : 3.75€</h6>
            <button class="buttonDeleteAll" (click)="deleteBasket()" matTooltip="Vider le panier" mat-mini-fab color="accent" aria-label="Example icon button with a home icon">
            <mat-icon>delete</mat-icon>
            </button>
        </h1>
    
        <section *ngIf="panier.length !== 0">
            <div class="articleFilm" *ngFor="let film of panier" cdkDragLockAxis="x" cdkDrag>
                <mat-card class="card">
                    <app-basket-line codeArticle={{film.id}} nomArticle={{film.title}} photoArticle={{film.posterPath}} prixArticle={{film.price}} quantiteArticle=1 typeArticle='Film'></app-basket-line> 
                    <button class="buttonDelete" mat-icon-button color="accent" (click)="supprimerArticle(film.id)"><mat-icon>delete</mat-icon></button>
                </mat-card>
            </div>
            <br>
        </section>
    
        <div class="text-center">
            <h1 class="mat-display-1"><h6>Montant total : {{getPrixPanier() | number:'.2-2'}} €</h6></h1>
            <button class="buttonSubmit" mat-raised-button color="primary" (click)="passerCommande()">Passer la commande</button>
        </div>
    </div>
</div>
