.msg {
    margin-top: 15px;
}

.articleFilm {
    display: inline-block;
    text-align: center;
    margin-right: 0%;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 19rem;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: whitesmoke;
    text-align: center;
}

.buttonSubmit {
    font-size: medium;
    margin-bottom: 10px;
}

.buttonDelete {
    margin-top: 0px;
    margin-bottom: 0px;
}

.buttonDeleteAll {
    margin-bottom: 10px;
}

.mat-display-1 {
    margin-bottom: 0;
}

.card{
    height: auto;
}