h1{
    margin-bottom: 20px;
    color: white;
}

.command{
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.ensSearch {
    display: flex;
    width: 100%;
    height: 100%;
}

.command-count{
    color: white;
}

.mat-form-field {
    width: 100%;
    height: 100%;
}

.submit {
    color: white;
    margin-top: 1%;
    width: 5% !important;
}


.carousel{
    background: #0c0c0c;
    h2{
        margin-top: 15px;
        height: 40px;
        margin-bottom: -25px;
    }
}
.car-items{
    list-style: none;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: known;
    padding: 1rem 0px;
    margin-top: 20px;
    .car-item{
        min-width: 310px;
        height: 260px;
        flex: 1 0 250px;
        margin-left: 1rem;
        scroll-snap-align: start;
        .card2{
            border: 3px solid rgb(116, 116, 116);
            border-radius: 3px;
            button{
                min-width: 395px;
                height: 255px;
                margin: 0;
                padding: 0;
                background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
                font-size: xx-large;
                color: white;
            }
            .button:hover{
                background: #729EBF;
            }
        }
        .card{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2px;
            border: 3px solid rgb(82, 82, 82);
            border-radius: 3px;
            img{
                width: 150px;
                height: 225px;
            }
           
            .card-content {
                margin-top:10px;
                text-align:center;
                max-height: 220px;
                p, span, li{font-size: small;}
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                p{
                    max-height: 75px;
                    overflow-y: hidden;
                    margin-bottom: 4px;
                }
            }
        }
    }
}


::-webkit-scrollbar-track{background-color: #F5F5F5;}
::-webkit-scrollbar{height: 6px;background-color: #F5F5F5;}
::-webkit-scrollbar-thumb{background-color: #3d4852;border-radius: 3px;}





h6{font-style: italic;font-weight: bold;font-size: large; color : rgb(31, 30, 30);}
.star {position: relative;display: inline-block;font-size: 4rem}
.full {color: red;}
.half {position: absolute;display: inline-block;overflow: hidden;color: red;bottom: 5%;}
.ingredient{height: 40px;overflow-y: hidden;}
.image{margin:1px;}

.contenu{text-align:center;max-height: 220px;margin-top: 45px;}
.contenu ul{list-style: none;margin: 0;padding: 0;}
.contenu p{max-height: 75px;overflow-y: hidden;margin-bottom: 4px;}
.contenu{p, span, li{font-size: small;}}

.contenu2{text-align:center;max-height: 220px;margin-top: 70px;}
.contenu2 ul{list-style: none;margin: 0;padding: 0;}
.contenu2 p{max-height: 75px;overflow-y: hidden;margin-bottom: 4px;}
.contenu2{p, span, li{font-size: small;}}