<div class="doc">
  <section style="font-size: 20px; color: aliceblue;">
    <ul *ngIf="histoCommand !== null" style="list-style: none; margin : 0;">
      <li *ngFor="let hcommand of histoCommand.commands" style="list-style: none; margin-left : -30px;">
        <h2>Commande du {{hcommand.date}}</h2>
        <p>Prix Total : {{hcommand.prixTotal}} €</p>
        <div class="carousel">
          <section class="car">
            <ul class="car-items">
              <li class="car-item" *ngFor="let film of hcommand.films">
                <div class="card">
                  <img src="{{film.posterPath}}" />
                  <div class="card-content">
                    <h6>{{film.title}}</h6>
                    <h6>prix : {{film.price}} €</h6>
                    <h6>commandé {{film.quantity}} fois</h6>
                  </div>
                </div>

                <!--<div class="card2">
                      <button class="more" [routerLink]="['/carousel/movie']" (click)="this.dtc.setElement('populaire', 'film')">Voir plus de films populaires</button>
                  </div>-->
              </li>
            </ul>
          </section>
        </div>
      </li>
    </ul>

    <h1 style="text-align: center; margin-top: 10px" *ngIf="!isConnected()">
      Veuillez vous connecter afin d'afficher l'historique de vos commandes.
    </h1>

    <h1 style="text-align: center; margin-top: 10px" *ngIf="isConnected() && nbCommand() == 0">
      Vous n'avez encore passé aucune commande
    </h1>
  </section>
</div>