<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <a routerLink="/home" class="navbar-brand" (click)="setTitle('Accueil - MenuCinema')" data-toggle="collapse"
        data-target=".nav-collapse.show">
        <img src="../../assets/Popcorn-icon.png" width="32" height="32"> Menu Cinéma
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarText">
        <div class="mr-auto">
            <button mat-button routerLink="/films" class="button1" (click)="setTitle('Films - MenuCinema')"
                data-toggle="collapse" data-target=".collapse">Films</button>

            <button mat-button routerLink="/listFilms" class="button1" (click)="setTitle('Liste Films - MenuCinema')"
                data-toggle="collapse" data-target=".collapse">Mes listes</button>
        </div>
        <div>
            <a mat-button *ngIf="isConnectedObservable | async" routerLink="/basket" class="button1"
                (click)="setTitle('Panier - MenuCinema')" data-toggle="collapse" data-target=".collapse">
                <mat-icon matBadge="{{getQuantity()}}" matBadgeColor="accent" class="md-39" id="basket">shopping_cart
                </mat-icon>
            </a>

            <a *ngIf="isConnectedObservable | async" id="profile" mat-icon-button [matMenuTriggerFor]="appMenu">
                <img src="{{profilePicture}}" id="profilePic" alt="Profil">
                <mat-icon id="down">keyboard_arrow_down</mat-icon>
            </a>
            <mat-menu #appMenu="matMenu">
                <div *ngIf="isConnectedObservable | async">
                    <button mat-button routerLink="/profile" class="button inmenu"
                        (click)="setTitle('Profil - MenuCinema')" data-toggle="collapse"
                        data-target=".collapse">Profil</button>
                    <button mat-button routerLink="/command" class="button inmenu"
                        (click)="setTitle('Commande - MenuCinema')" data-toggle="collapse"
                        data-target=".collapse">Commandes</button>
                    <app-logout data-toggle="collapse" data-target=".collapse"></app-logout>
                </div>
            </mat-menu>

            <app-login class="button1" *ngIf="!(isConnectedObservable | async)" data-toggle="collapse" data-target=".collapse">
            </app-login>
        </div>

    </div>
</nav>
