.button {
    font-size: x-large;
    margin-top: 1%;
}

#profilePic {
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

#basket {
    margin-bottom: 20%;
}

#profile {
    margin-right: 5px;
    margin-left: 5px;
}

.inmenu {
    display: block;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-39 { font-size: 39px; }
.material-icons.md-48 { font-size: 48px; }

.button1
{
    font-size: x-large;
    margin-top: 1%;
    color:#ffffff;
}

#down {
    color: white;
}
