.films{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.films div{
    margin-top: auto;
    margin-bottom: auto;
}

.mat-card-title {
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-card-subtitle {
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
    margin-left: 25px;
}

.film {
    height: 10rem;
    margin-top: auto;
    margin-bottom: auto;
}
