<div class="films">
    <div><img *ngIf="getType() === 'Film'" class="film" mat-card-image src="{{getPhoto()}}" /></div>
    <div>
        <mat-card-title> {{getNom()}} </mat-card-title>
        <mat-card-subtitle> Article n°{{getCode()}} </mat-card-subtitle>
    </div>
</div>